.breadcrumbContainer {
  align-items: center;
  background-color: $grey;
  display: flex;
  height: 36px;
  margin-bottom: 20px;
  padding: 0px 20px;
  width: 100%;
  .iconAngle {
    margin: 0px 10px;
  }
  p {
    color: $blue;
    cursor: pointer;
    font-size: 12px;
  }
}
