.navbar {
  align-items: center;
  background-color: $yellow;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  form {
    align-items: center;
    display: flex;
    width: 70%;
    button{
      background-color: $white;
      border-radius: 2px;
      border: none;
      box-shadow: 0 1px 2px 0 $black;
      height: 53px;
      position: inherit;
      width: 51px;
    }
  }
}

.inputNavBar {
  background-color: #fff;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 2px $black;
  font-size: 16px;
  height: 39px;
  padding: 7px 60px 9px 15px;
  width: 100%;
}

.navLogo {
  background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.1/mercadolibre/logo__large_plus.png);
  height: 34px;
  margin: 0px 40px;
  top: 11px;
  width: 134px;
}
