$yellow: #fff159;;
$grey: #dbdbdb;
$white: #fff;
$darkGrey: #0000008c;
$blue: #3483fa;
$darkBlue:#2459a8;
$trnasparentBlue:#4189e633;
$trnasparentBlueDark:#27548f33;
$black: #000000e6;
$green: #00a650;